<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>博客分类</title>
  </head>
  <body>
    <ul>
      {% for post in site.categories.%}
    </ul>
    <script type="text/javascript">
    var dataStr =
    `{
      {% for cat in site.categories %}
        {% if cat[0] != site.categories.first[0] %},
        {% endif %}
        "{{ cat[0] }}":[
          {% for post in cat[1] %}
            {% if post != cat[1].first %},
            {% endif %}
            {
              "url":"{{post.url}}",
              "title":"{{post.title}}",
              "date":"{{post.date | date:"%d/%m/%Y"}}"
            }
          {% endfor %}
        ]
      {% endfor %}
    }`,
      data = JSON.parse(dataStr),
      // curTag = $.query.get("cat"),
      archieves = data[curTag];
    </script>
  </body>
</html>
