/*
Error: Invalid GBK character "\xE7"
        on line 13 of F:\mywork\mywebsite\zhuqingguang.github.io\blog\index.html

8:   <header class="article-header">
9:     <h1><a href="{{ post.url }}">>>{{ post.title }}</a></h1>
10:   </header>
11:   <main class="article-main">
12:     {{ post.excerpt }}
13:     <p class="continue"><a href="{{ post.url }}">继续阅读全文&nbsp;>></a></p>
14:   </main>
15:   <footer class="article-footer">
16:       <div class="footer-group">
17:         <span class="label">发表日期:</span><time datetime="{{ post.date }}">{{ post.date | date_to_long_string }}</time>
18:       </div>

Backtrace:
F:\mywork\mywebsite\zhuqingguang.github.io\blog\index.html:13
C:/tools/ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.23/lib/sass/util.rb:1300:in `rescue in block in find_encoding_error'
C:/tools/ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.23/lib/sass/util.rb:1297:in `block in find_encoding_error'
C:/tools/ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.23/lib/sass/util.rb:1296:in `each'
C:/tools/ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.23/lib/sass/util.rb:1296:in `each_with_index'
C:/tools/ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.23/lib/sass/util.rb:1296:in `find_encoding_error'
C:/tools/ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.23/lib/sass/util.rb:911:in `rescue in check_sass_encoding'
C:/tools/ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.23/lib/sass/util.rb:907:in `check_sass_encoding'
C:/tools/ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:436:in `check_encoding!'
C:/tools/ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:392:in `_to_tree'
C:/tools/ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
C:/tools/ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
C:/tools/ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:391:in `run'
C:/tools/ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/tools/ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
C:/tools/ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
C:/tools/ruby23/lib/ruby/gems/2.3.0/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
C:/tools/ruby23/bin/sass:22:in `load'
C:/tools/ruby23/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid GBK character \"\xE7\"\A         on line 13 of F:\mywork\mywebsite\zhuqingguang.github.io\blog\index.html\A \A 8:   <header class=\"article-header\">\A 9:     <h1><a href=\"{{ post.url }}\">>>{{ post.title }}</a></h1>\A 10:   </header>\A 11:   <main class=\"article-main\">\A 12:     {{ post.excerpt }}\A 13:     <p class=\"continue\"><a href=\"{{ post.url }}\">继续阅读全文&nbsp;>></a></p>\A 14:   </main>\A 15:   <footer class=\"article-footer\">\A 16:       <div class=\"footer-group\">\A 17:         <span class=\"label\">发表日期:</span><time datetime=\"{{ post.date }}\">{{ post.date | date_to_long_string }}</time>\A 18:       </div>"; }
